/.idea/

# R environment files
/.Renviron

# renv package management
/renv

# R project files
.Rproj.user

# RPushbullet API Ket
/.rpushbullet.json

# HTML rendered by R Markdown
*.nb.html

# xlsx files
*.xlsx

# pdf files
*.pdf
